//
   Created by Augustus on 14. 5. 0.
doctype html
html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        title= title
        link(rel='stylesheet', href='/stylesheets/setting.css')

        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        script(src='/javascripts/jquery.serialize-object.min.js')
        script(src='/javascripts/bootstrap.min.js')
        script(src='/javascripts/jquery-ui-1.10.4.custom.min.js')
        script(src="/javascripts/jquery.ui.widget.js")
        script(src="/javascripts/jquery.fileupload.js")

        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')

        script(type='text/javascript').
            WebFontConfig = {
            custom: {
                families: ['Nanum Gothic'],
                urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css']
            }
            };
            (function() {
                var wf = document.createElement('script');
                wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                    '://ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            })();
        script(type='text/javascript').
            function delCategory(btnObject){
                var value = $(btnObject).siblings('#textBody').find('#beforeCategory').val();
                var input = $("<input />").attr("type", "hidden").attr("name", "delCategory[]").val(value);
                $('#delCategoryHidden').append($(input));
                $(btnObject).parents('#configCategoryItem').remove();
            }
    body
        #wholeDiv
            #top
                #top_left
                    a(href='/view/mypage')
                        img(src='/resource/images/mypage/logo_small.png',id='toplogo')
                #top_right
                    span#welcomeText #{name}님, 환영합니다.
                    a(href='/view/career/selectTemplate')
                        img(src='/resource/images/mypage/write_career.png',id='write_career')
                    a(href='/view/setting')
                        img(src='/resource/images/mypage/config.png',id='config')
                    a(href='/api/logout')
                        img(src='/resource/images/mypage/logout.png',id='logout')
            #introduce
                #introduce_body.text-center
                    img(src='#{introduceUrl}')
                #introduce_fold.text-center
                    img.text-center.fold_img(src='/resource/images/mypage/fold_up.png', id='fold_img')
                    img.text-center.fold_img(src='/resource/images/mypage/fold_down.png', id='fold_img', style='display:none')
                #introduce_bottom
            #main
                #main_left
                    #menu_body
                        - if(categoryItems.length)
                            each item in categoryItems
                                a(href='/view/careerList/#{item.name}')
                                    #categoryItem.categoryUnselected.text-left
                                        span #{item.name}
                    #menu_edit
                #main_right
                    //-Mixin Declation
                    mixin configCategory(name, index)
                        #configCategoryItem
                            #textBody
                                //.col-lg-6
                                //    input#beforeCategory.form-control(type='text', value='#{name}' name="category[#{index}][before]" readonly="readonly")
                                //.col-lg-6
                                //    input#afterCategory.form-control(type='text', value="" name="category[#{index}][after]")
                                .col-lg-6
                                    input#beforeCategory.form-control(type='text', value='#{name}' name="category[][before]" readonly="readonly")
                                .col-lg-6
                                    input#afterCategory.form-control(type='text', value="" name="category[][after]")
                            button#categoryDeleteBtn(type="button" class="btn btn-default" onclick="delCategory(this);return false;") 삭제하기


                    //-Mixin Declation End
                    form#configForm(role="form")
                        #introduceImage
                            #categoryTitle.text-left
                                span.fontChange 자기소개 이미지 수정하기
                            #editCategory
                                strong.fontChange.text-info 자기소개 이미지는 가로 1200px, 세로 330px을 권장합니다.
                                #imagePreview.text-center
                                    img#introduceImagePreview(src='#{introduceUrl}')
                            #uploadFile.form-group
                                label.fontChange(for="uploadIntroduce") 이미지 파일을 업로드 해 주세요(png, jpg, gif)
                                input#filePath.hiddenObject(type='text', name="filePath")
                                input#uploadIntroduceImage.fontChange(type='file', name="uploadIntroduceImage", accept="image/*")
                                script(type='text/javascript').
                                    $(document).ready(function() {
                                        $('#uploadIntroduceImage').fileupload({
                                            url : '/upload',
                                            dataType: 'json',
                                            add: function(e, data){
                                                var uploadFile = data.files[0];
                                                if (!(/png|jpe?g|gif/i).test(uploadFile.name)) {
                                                    alert('png, jpg, gif 만 가능합니다');
                                                    goUpload = false;
                                                    return false;
                                                } else if (uploadFile.size > 5000000) { // 5mb
                                                    alert('파일 용량은 5메가를 초과할 수 없습니다.');
                                                    return false;
                                                }
                                                data.submit();
                                            },
                                            done: function (e, data) {
                                                var code = data.textStatus;
                                                if(code == 'success') {
                                                    $('#filePath').val(data.result.files[0].name);
                                                    alert(data.result.files[0].name + '성공적으로 업로드 되었습니다.\n반영 하시려면 적용을 눌러주세요.');
                                                } else {
                                                    alert('알 수 없는 문제로 오류가 발생했습니다');
                                                }
                                            },
                                            fail: function(){
                                                alert("서버와 통신 중 문제가 발생했습니다");
                                            }
                                        });
                                    });


                        #configCategory
                            #categoryTitle.text-left
                                span 카테고리 수정하기
                            br
                            #textBody.fontChange
                                .col-lg-6
                                    strong.text-left 현재 카테고리 이름
                                .col-lg-6
                                    strong.text-left 변경할 카테고리 이름
                            #categories.fontChange
                                #categoryItems
                                    each item, index in categoryItems
                                        mixin configCategory(item.name, index)
                            br
                        #addCategory
                            #categoryTitle.text-left
                                span 카테고리 추가하기(카테고리는 총 9개까지 가능합니다)
                            #addCategoryItems
                            #addCategoryBtnArea.text-right.fontChange
                                button#addCategoryBtn(type="button" class="btn btn-warning") 추가하기

                        #submitArea.text-center.fontChange
                            input#addCategoryHidden.hiddenObject(type='text', name="addCategory[]")
                            input#delCategoryHidden.hiddenObject(type='text', name="delCategory[]")
                            button#submitBtn(type="submit" class="btn btn-primary btn-lg") 적용하기

            #bottom.text-center
                span 개발자 - 박상욱, 디자이너 - 김광훈
    script(type='text/javascript').
        $('#introduce_fold').click(function(){
            $('#introduce_body').slideToggle("slow", "easeOutQuint", function(){$('.fold_img').toggle();});
        });
    script(type='text/javascript').
        $( document ).on( "click", "#addCategoryBtn", function() {
            $("#addCategoryItems").append('<div id="addCategoryItem"><div id="textBody"><div class="col-lg-6"><label for="addCategoryItem">추가 할 카테고리 이름</label></div><div class="col-lg-6"><input id="addCategoryItem" class="form-control" type="text" value="" name="addCategory[]"></input></div></div></div>');
        });
    script(type='text/javascript').
        $(document).ready(function() {
            $("#configForm").submit(function() { // intercepts the submit event
                var answer = confirm('적용하시겠습니까?\n삭제한 카테고리 내의 포트폴리오는 모두 같이 삭제됩니다');
                if(!answer){
                    return false;
                }

                $.ajax({ // make an AJAX request
                    type: "POST",
                    url: "/api/config/submit", // it's the URL of your component B
                    data: $("#configForm").serializeObject(), // serializes the form's elements
                    success: function(data)
                    {
                        if(data.result == 500){
                            alert('성공적으로 변경되었습니다')
                            window.location="/view/setting";
                        }
                        else if(data.result == 501){
                            alert('가능한 카테고리 개수가 초과했습니다');
                        }
                        else if(data.result == 502){
                            alert('이미지 수정에 실패하였습니다');
                        }
                        else {
                            alert('알 수 없는 오류. 다시 시도해 주세요\nCode:' + data.result);
                        }
                    }
                });
                return false;
            });
        });