//
                                    Created by Augustus on 14. 5. 0.
doctype html
html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        title= title
        link(rel='stylesheet', href='/stylesheets/writeCareer.css')
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        script(src='/javascripts/bootstrap.min.js')
        script(src='/javascripts/jquery-ui-1.10.4.custom.min.js')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
        script(type='text/javascript').
            WebFontConfig = {
            custom: {
                families: ['Nanum Gothic'],
                urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css']
            }
            };
            (function() {
                var wf = document.createElement('script');
                wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                    '://ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            })();
    body
        #wholeDiv
            #top
                #top_left
                    a(href='/view/mypage')
                        img(src='/resource/images/mypage/logo_small.png',id='toplogo')
                #top_right
                    span#welcomeText #{name}님, 환영합니다.
                    a(href='/view/career/selectTemplate')
                        img(src='/resource/images/mypage/write_career.png',id='write_career')
                    a(href='/view/setting')
                        img(src='/resource/images/mypage/config.png',id='config')
                    a(href='/api/logout')
                        img(src='/resource/images/mypage/logout.png',id='logout')
            #introduce
                #introduce_body
                    img(src='/resource/images/mypage/introduce_default.png')
                #introduce_fold.text-center
                    img.text-center.fold_img(src='/resource/images/mypage/fold_up.png', id='fold_img')
                    img.text-center.fold_img(src='/resource/images/mypage/fold_down.png', id='fold_img', style='display:none')
                #introduce_bottom
            #main
                #main_left
                    #menu_body
                        - if(categoryItems.length)
                            each item in categoryItems
                                a(href='/view/careerList/#{item.name}')
                                    #categoryItem.categoryUnselected.text-left
                                        span #{item.name}
                    #menu_edit
                #main_right
                    //-Mixin Declation
                    //-Mixin Declation End
                    form#careerWriteForm(role="form")
                        #topMenu
                            #categoryTitle.text-left
                                span 포트폴리오 작성하기
                            #selectCategory.form-group
                                label(for="categorySelect") 카테고리 선택
                                select.form-control#categorySelect(name="category")
                                    each item in categoryItems
                                        option(value="#{item.name}") #{item.name}
                            #careerName.form-group
                                label(for="careerTitle") 포트폴리오 이름
                                input.form-control#careerTitle(type="text")
                        #templates
                        #uploadCareer.text-center
                            //input(id='btn_careerUplaod',type='image',src='/resource/images/main/btn_login.png',border="0",alt="Submit")
                            button.btn.btn-primary(type="submit") 작성 완료

            #bottom.text-center
                span 개발자 - 박상욱, 디자이너 - 김광훈
    script(type='text/javascript').
        $('#introduce_fold').click(function(){
            $('#introduce_body').slideToggle("slow", "easeOutQuint", function(){$('.fold_img').toggle();});
        });